*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 4%;
    height: 3%;
    margin-left: 10px;
   }
   .card-img-top{
       width: 100%;
       height:200px; 
       object-fit: contain; /*for proper image veiw in container  */
   }
/*----admin css-------*/
   .adminImage{
    width: 100%;
    object-fit: contain;
}
.footer{
    position: absolute;
    bottom: 0;
}
.section-headline h3 {
    position: relative;
    
  }
  .section-headline h3::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #f70305;
    bottom: -5px;
    left: calc(50% - 20px);

  }
  
  .section-headline h3::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #0e22df;
    bottom: -4px;
    left: calc(50% - 60px);
  }
  *,::after,::before{
    box-sizing: border-box;
  }
  
  

  
   